---
import Player from "../components/Player.svelte";

import { Alert } from "../components/Alert.tsx";
import { Badge } from "@/components/ui/badge";

import "@/styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GENIUSZ</title>
	</head>
	<body class="bg-neutral-200">
		<header class="py-3 px-14 mb-3 border-b border-neutral-400">
			<div class="container flex max-w-screen-2xl items-center">
				<div class="flex items-center gap-4">
					<h1 class="text-xl font-[GeistBold]">Geniusz</h1>
					<a href="/"><Badge variant="destructive">Reset</Badge></a>
				</div>
				<div class="flex flex-1 justify-end">
					<Alert client:idle />
				</div>
			</div>
		</header>
		<Player client:load />
	</body>
</html>