---
import Player from "../components/Player.svelte";
import Timer from "../components/Timer.svelte";

import { Alert } from "../components/Alert";
import { Navigation } from "../components/Navigation";

import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";

import "@/styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GENIUSZ</title>
	</head>
	<body class="bg-backround">
		<header
			class="flex items-center px-1 mb-3 h-14 border-b md:px-14 border-neutral-400"
		>
			<div class="container flex items-center max-w-screen-2xl">
				<div class="flex gap-4 items-baseline">
					<div class="flex gap-4 items-center">
						<h1 class="text-xl font-[GeistBold] hidden md:inline">
							Geniusz
						</h1>
						<div class="cursor-default mr-5 hidden md:inline">
							<Badge>Beta</Badge>
						</div>
					</div>
					<Timer client:load />
				</div>
				<div class="flex flex-1 gap-4 justify-end">
					<a href="/"><Button variant="destructive">Reset</Button></a>
					
					<Alert client:idle />
					<Navigation client:load />
				</div>
			</div>
		</header>
		<Player client:load />
	</body>
</html>